<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="index.html">Home</a>
            <a href="#">About</a>
            <a href="#">Remnants</a>
            <a href="#">Skills</a>
        </nav>
        <div class="box">
            <div class="left">
                <div class="title">
                    <h1>Travis Ours</h1>
                    <h4>Former IT Specialist for the US Army <br> Now a Software Programmer</h4>
                </div>
                <div class="contacts">
                    <p><img src="../static/img/email.png" alt="email:">zordye53@gmail.com</p>
                    <p><img src="../static/img/phone.png" alt="phone:">304-834-4221</p>
                    <p><img src="../static/img/location.png" alt="at:">Parkersburg, WV, United States</p>
                </div>
            </div>
            <div class="right">
                <img src="../static/img/myself.jpg" alt="Me">
            </div>
        </div>
    </div>
</body>
</html>